.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.card-group__body {
  overflow: auto;
}

.card-group {
  border-radius: 15px;
  background: #ffffff90;
  flex-wrap: nowrap;
}

.card-group__count {
  font-size: 24px;
}

.card-group__button {
  margin-top: auto;
  &:hover {
    opacity: 0.8;
  }
}

.card__title {
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}

.card__description {
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}

.bg-todo {
  background: #5bd9a3;
}

.bg-inprogress {
  background: #d8ddd7;
}

.bg-done {
  background: #5bc3d9;
}

.card-date {
  font-size: 14px;
}
