.card-group__body {
  overflow: auto;
}

.card-group {
  border-radius: 15px;
  background: #ffffff90;
  flex-wrap: nowrap;
}

.card-group__count {
  font-size: 24px;
}

.card-group__button {
  margin-top: auto;

  &:hover {
    opacity: 0.8;
  }
}

.card__title {
  font-size: 22px;
}

.card__description,
.card__title {
  background-color: white;
  padding: 2px 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.bg-todo {
  background: #5bd9a3;
}

.bg-inprogress {
  background: #d8ddd7;
}

.bg-done {
  background: #5bc3d9;
}

.card-date {
  font-size: 14px;
}
