main {
  flex: 1 1 auto;
  display: flex;
}

.main-wrapper {
  display: flex;
  padding: 0 20px;
  margin-top: 50px;
  gap: 30px;
  flex: 1 1 auto;
}

.card-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.card-group__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-group__count {
  font-size: 24px;
}

.card-group__button {
  margin-top: auto;
}

.container--height-strech {
  display: flex;
  flex-direction: column;
}
